@font-face {
  font-family: 'lcat-font';
  src: local('lcat-font'),
        url('../fonts/Montserrat-Medium.ttf');
}

body {
    box-sizing: border-box;
    width: 100%;
    background: white;
	color: #42273b;
    font-family: 'lcat-font',Arial,Helvetica,sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 0; 
}

@media (min-width: 1000px) {
    body {
        padding-left: 50px;
        padding-right: 50px; 
    }
}

h1 {
	font-size: 200%;
	margin-bottom: 0em;
}

h2 {
    border-top: 3px solid #42273b;
}

@media (min-width: 1000px) {
    body {
		font-size: 1.3em;
    }
}    


@media (min-width: 1500px) {
    body {
		font-size: 2em;
    }
}

select {
    font-family: 'lcat-font',Arial,Helvetica,sans-serif;
	border: none;
	background: #b0cacc;
	font-size: 1em;
	border-radius: 2px;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

select:hover {
	background: #ffbc42;
}

a { color: #4c9f70; }

button {
    font-family: 'lcat-font',Arial,Helvetica,sans-serif;
	border: none;
	background: #b0cacc;
	font-size: 1em;
	border-radius: 2px;
}

button:hover {
	background: #ffbc42;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	box-sizing: content-box;
	position: relative;
	width: 100%;
	display: block;
	border: none;
	border-radius: 5px;	
}

.collapsible .header {
	background: #b0cacc;
	border-radius: 2px;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.collapsible .header:hover {
	background: #ffbc42;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
	padding-left: 2em;
	padding-right: 2em;
	overflow: hidden;  /* Hide the element content, while height = 0 */
	max-height: 0;
	transition: max-height 0.5s ease-out;
}

.collapsible-content.visible {
	max-height: 500px;
	transition: max-height 0.5s ease-in;
}

.horiz-container {
	display: flex;
	flex-direction: row;
    align-items: center;
    overflow-x: auto;
    justify-content: space-around;
}

.vert-container {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horiz-container-health {
	display: flex;
	flex-direction: row;
    overflow-x: auto;
}

.health-img {
	display: flex;
	flex-direction: row;    
    align-items: center;
    justify-content: center;
}


.vert-container-health {
	display: flex;
	flex-direction: column;
    text-align: center;
    margin: 1em;
}

