*.*~
\#*
.\#*
.env
config.yml
package-lock.json
yarn.lock
yarn-error.log
node_modules
*.pyc
__pycache__

# Ignore .sql files
*.sql

# Ignore Python .venv folder
data/venv

# Ignore AdminJS build files
.adminjs/

# Ignore .DS_Store
.DS_Store

# Ignore data store
data/store
