@font-face {
  font-family: 'nunito';
  src: local('nunito'),
        url('../fonts/NunitoSans-Regular.ttf');
}

body {
    box-sizing: border-box;
    width: 100%;
    background: #e6e6e6;
	color: #42273b;
    font-family: 'nunito',Arial,Helvetica,sans-serif;
    font-size: 1em;
    padding: 1em;
    margin: 0;
}

select {
    font-family: 'nunito',Arial,Helvetica,sans-serif;
	border: none;
	background: #ffbc42;
	margin-left: 0.5em;
	margin-top: 0.5em;
	font-size: 1em;
}

@media (min-width: 1000px) {
    body {
		font-size: 1.2em;
		padding-left: 10em;
		padding-right: 10em;
    }
}

.map-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

@media (min-width: 1000px) {
	.map-container {
		flex-direction: row;
	}
}

#leaflet-map {
	height: 600px;
	flex: 1 0 350px;
}

.map-selection {
	margin-top: 1em;
	width: 100%;
	margin-left: 0;
	background: #b0cacc;
}

@media (min-width: 1000px) {
	.map-selection {
		margin-top: 0;
		width: 10em;
		margin-left: 1em;
		padding-left: 1em;
	}
}

.map-selection ul {
	padding: 0;
	margin: 0;
}

.map-selection li {
	list-style-type: none;
	border-bottom: 2px solid #4c9f70;
	background: #ffbc42;
	margin-right: 1em;
}

.graph-container {
	/*border: 1px solid #42273b;*/
	background: #b0cacc;
}

#graph {
	margin-top: 1em;
}

.title{
	width: 100%;
	text-align: center;
}
