@font-face {
  font-family: 'nunito';
  src: local('nunito'),
        url('../fonts/NunitoSans-Regular.ttf');
}

body {
    box-sizing: border-box;
    width: 100%;
    background: #e6e6e6;
	color: #42273b;
    font-family: 'nunito',Arial,Helvetica,sans-serif;
    font-size: 1em;
    padding: 1em;
    margin: 0;
}

select {
    font-family: 'nunito',Arial,Helvetica,sans-serif;
}

h1, h2, h3 {
    margin-left: 1em;
}

@media (min-width: 800px) {
    body {
		font-size: 1.2em;
		padding-left: 10em;
		padding-right: 10em;
    }
}

.map-container {
	display: flex;
}

#leaflet-map {
	height: 600px;
	flex: 1;
}

.map-selection {
	width: 10em;
}

.graph-container {
	/*border: 1px solid #42273b;*/
	background: #b0cacc;
}

#graph {
	margin-top: 1em;
}

.title{
	width: 100%;
	text-align: center;
}
