
.adaptation .content {
    background-color: #e6eced;
    padding: 1em;
}

.adaptation .metadata {
    color: #d6dcddff;	
}

.adaptation.collapsible {
    padding-bottom: 0.5em;
    width: auto;
    display: block;
}
