.rv-xy-plot__series--label-text {
    font-size: 2vw;
    fill: white;
}

.rv-xy-plot__axis__tick__text {
    font-size: 1.5vw;
}

.graph-horiz-container {
	display: flex;
	flex-direction: row;
}

.rv-xy-plot__axis__title text {
    font-size: 1.5vw;
}

.graph-axes-label {
    border: 1px solid red;
    font-size: 130%;
}
