.horiz-container-health {
	display: flex;
	flex-direction: row;
    overflow-x: auto;
/*    justify-content: center; */
}

.health-img {
	display: flex;
	flex-direction: row;    
    align-items: center;
    justify-content: center;
}

.direction-img {
	display: flex;
	flex-direction: row;    
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5em;
}

.vert-container-health {
	display: flex;
	flex-direction: column;
    text-align: center;
    margin: 1em;
}
