.network {
	display: flex;
	flex-direction: column;
}

@media (min-width: 1200px) {
	.network {
		flex-direction: row;
	}
}

.network-holder {
    height: 600px;
}

@media (min-width: 1200px) {
	.network-holder {
		display: flex;
		flex: 1;
	}
}

@media (min-width: 2000px) {
	.network-holder {
		height: 1600px;
	}
}

.network-info {
	width: auto;
	border-radius: 5px;
	background: #e6ecedff;	
	padding: 1em;
	overflow-y: scroll;
	height: 600px;
}

.network-info h2 {
    margin-left: 0;
    margin-right: 0;
}

.network-info ul {
	padding-inline-start: 0;
	list-style-type: none; /* Remove bullets */
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
}

@media (min-width: 1200px) {
	.network-info {
		width: 16em;
		overflow-y: auto;
		height: 600px;
		font-size: 0.75em;
	}
}

@media (min-width: 2000px) {
	.network-info {
		height: 800px;
	}
}

.network-info h3 {
	margin-block-start: 0;
}

/* network styles -------------------------------------- */

g span {
	background: none !important;
	background-color: none !important;
	font-size: 3em;
}

.node {
	max-width: 20px;
}

.node rect,
.node circle,
.node ellipse {
	stroke: #333;
	fill: #fff;
	stroke-width: 1.5px;
}

.cluster rect {
	stroke: #333;
	fill: #000;
	fill-opacity: 0.1;
	stroke-width: 1.5px;
}

.edgePath path.path {
	stroke: #333;
	stroke-width: 1.5px;
	fill: none;
}

.net-node-simple {
	width: 180px;
	height: 180px;
	text-align: center;
	font-size: 0.75em;
	white-space: normal;
	padding-top: 8px;
}

.net-node-simple-vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}

.net-node-complex {
	width: 300px;
	height: 300px;
	text-align: center;
	white-space: normal;
	text-align: left;
}

.net-node-complex ol {
	font-size: 0.75em;
	padding-inline-start: 20px;
}

.net-node-image-holder {
	width: 100%;
	text-align: center;	
}

.metadata {
    color: #d6dcddff;	
}
